body{
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

.neon-text-container {
  display: flex;
  padding-top: 220px;
  padding-left: 450px;
}

.neon-text {
  font-size: 85px;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E,
    0 0 80px #AD361E, 0 0 100px #AD361E, 0 0 150px #AD361E;
  animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  from {
    opacity: 0.5;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E,
      0 0 80px #AD361E, 0 0 100px #AD361E, 0 0 150px #AD361E;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E, 0 0 80px #AD361E,
      0 0 100px #AD361E, 0 0 150px #AD361E, 0 0 300px #AD361E;
  }
}

.slogan{
  font-size: 40px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: whitesmoke;
}

/* Front Button */

.button {
  width: 250px;
  height: 60px;
  margin-left: -480px;
  margin-top: 280px;
  background-color: transparent; /* Change this to the desired button color */
  color: #fff; /* Change this to the desired text color */
  font-size: 16px;
  border: 2px solid #AD361E;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button:hover {
  background-color: #1E1E1E; /* Change this to the desired background color on hover */
  border-color: #fff; /* Change this to the desired border color on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add smooth transition for the hover effect */
}

/* Sale Banner */

.machineimg{
  margin-top: 600px;
  margin-left: -800px;
}

.saleP{
  color: white;
  font-size: larger;
  padding-left: 490px;
  margin-top: -225px;
  font-weight: 300;
}

.button2{
  width: 250px;
  height: 60px;
  margin-top: 50px;
  margin-left: 490px;
  background-color: transparent; /* Change this to the desired button color */
  color: #fff; /* Change this to the desired text color */
  font-size: 16px;
  border: 2px solid #AD361E;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button2:hover {
  background-color: #1E1E1E; /* Change this to the desired background color on hover */
  border-color: #fff; /* Change this to the desired border color on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add smooth transition for the hover effect */
}

/* Cards */

.card1{
  margin-top: 200px;
  margin-left: -200px;
  width: 450px;
  height: 250px;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #AD361E, 
      rgba(0, 0, 0, 0),
      #AD361E
    ) 1 100%;
    background-color: #1E1E1E; /* Red background without opacity */
  opacity: 0.6;
}

.card2{
  margin-top: 200px;
  margin-left: 100px;
  width: 450px;
  height: 250px;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #AD361E, 
      rgba(0, 0, 0, 0),
      #AD361E
    ) 1 100%;
    background-color: #1E1E1E; /* Red background without opacity */
  opacity: 0.6;
}

.card3{
  margin-top: 500px;
  margin-left: -1000px;
  width: 450px;
  height: 250px;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #AD361E, 
      rgba(0, 0, 0, 0),
      #AD361E
    ) 1 100%;
    background-color: #1E1E1E; /* Red background without opacity */
  opacity: 0.6;
}

.card4{
  margin-top: 500px;
 margin-left: 100px;
  width: 450px;
  height: 250px;
  padding: 1rem;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #AD361E, 
      rgba(0, 0, 0, 0),
      #AD361E
    ) 1 100%;
    background-color: #1E1E1E; /* Red background without opacity */
  opacity: 0.6;
}

.cardText{
  color: white;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}

/* Product */

.ProductShopList{
  margin-top: 880px;
  margin-left: -1000px;
}

.ShopTitle{
  color: white;
  font-weight: 400;
  font-size: 40px;
}

.neon-text2-container {
  display: flex;
  padding-top: 220px;
}

.neon-text2 {
  margin-left: -80px;
  font-size: 70px;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E,
    0 0 80px #AD361E, 0 0 100px #AD361E, 0 0 150px #AD361E;
  animation: neon-glow2 1s ease-in-out infinite alternate;
}

@keyframes neon-glow2 {
  from {
    opacity: 0.5;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E,
      0 0 80px #AD361E, 0 0 100px #AD361E, 0 0 150px #AD361E;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #AD361E, 0 0 70px #AD361E, 0 0 80px #AD361E,
      0 0 100px #AD361E, 0 0 150px #AD361E, 0 0 300px #AD361E;
  }
}

.ProductInfo{
  color: white;
  font-size: 22px;
}

/* Carousel */

.cardPro{
  background-color: transparent;
  width: 350px;
  height: 450px;
  margin-top: 50px;
}

.cardPro2{
  background-color: transparent;
  width: 350px;
  height: 450px;
  margin-top: 50px;
  margin-left: 350px;
  margin-top: -450px;
}

.cardPro3{
  background-color: transparent;
  width: 350px;
  height: 450px;
  margin-top: 50px;
  margin-left: 680px;
  margin-top: -450px;
}

.pro1duct{
  color: white;
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 70px;
}

.price{
  color: white;
  font-weight: 300;
  padding-left: 70px;
}

.button3{
  width: 250px;
  height: 60px;
  margin-top: 50px;
  margin-left: 370px;
  background-color: transparent; /* Change this to the desired button color */
  color: #fff; /* Change this to the desired text color */
  font-size: 16px;
  border: 2px solid #AD361E;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button3:hover {
  background-color: #1E1E1E; /* Change this to the desired background color on hover */
  border-color: #fff; /* Change this to the desired border color on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Add smooth transition for the hover effect */
}